*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background :linear-gradient(135deg,#667eea,#3e04fb);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}


#container{
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    color:white;
    padding:40px;
    border-radius:12px;
    width:450px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.25);
}


#Students{
    margin-bottom:20px;
    color:white;
}

label{
    display:block;
    margin-bottom:10px;
    font-weight:bold;
}


input{
    width:100%;
    padding:10px;
    margin-bottom:20px;
    border:none;
    border-radius:6px;
    font-size:16px;
    background:rgba(255,255,255,0.9);
}


button{
    width:100%;
    padding:10px;
    background:#4f46e5;
    color:white;
    border:none;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#4338ca;
    transform:scale(1.03);
}

#result{
    margin-top:20px;
    font-size:18px;
    font-weight:bold;
    color:white;
}